@charset "UTF-8";

/* 変数 */

:root {
    --main: #F26A74;
    --sub: #FFA5A5;
    --dark: #E13845;

    --text: #444444;
    --textwhite: #FFFFFF;
    --back: #FFFFFF;
    --backtrans: rgba(255, 255, 255, 0.6);
    --backcheck: #FFF7D2;
    --main2sub: var(--main);
    --main2dark: var(--main);
}

/* 基本設定 */
body {
    font-family: sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure {
    margin: 0;
    padding: 0;
    list-style: none;
}

img, svg {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}